<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.raafelledezma.pruebapuglins"
    version   = "1.0.0">

<name>Curso arreglado</name>

<description>
Descripción de plantes
</description>

<author href="https://www.rafaelledezmavazquez.com" email="sergior_ledezma_vazquez@hotmail.com">
Samuel Jesus
</author>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="phonegap-plugin-speech-synthesis" version="0.1.1">
  <name>SpeechSynthesis</name>
  <description>Cordova Speech Synthesis Plugin</description>
  <license>MIT</license>
  <keywords>cordova,speech,synthesis,tts</keywords>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SpeechSynthesis">
        <param name="android-package" value="org.apache.cordova.speech.SpeechSynthesis"/>
      </feature>
    </config-file>
    <source-file src="src/android/SpeechSynthesis.java" target-dir="src/org/apache/cordova/speech"/>
    <js-module src="www/SpeechSynthesis.js" name="SpeechSynthesis">
      <clobbers target="window.speechSynthesis"/>
    </js-module>
    <js-module src="www/SpeechSynthesisUtterance.js" name="SpeechSynthesisUtterance">
      <clobbers target="SpeechSynthesisUtterance"/>
    </js-module>
    <js-module src="www/SpeechSynthesisEvent.js" name="SpeechSynthesisEvent">
      <clobbers target="SpeechSynthesisEvent"/>
    </js-module>
    <js-module src="www/SpeechSynthesisVoice.js" name="SpeechSynthesisVoice">
      <clobbers target="SpeechSynthesisVoice"/>
    </js-module>
    <js-module src="www/SpeechSynthesisVoiceList.js" name="SpeechSynthesisVoiceList">
      <clobbers target="SpeechSynthesisVoiceList"/>
    </js-module>
  </platform>
</plugin>






<preference name="phonegap-version" value="cli-6.5.0" />

</widget>



